# Client Info
CLIENT_TOKEN=
CLIENT_ID=

# For guild command
AUTHOR_GUILD=

# Database Info (only DATABASE_PASSWORD is not required)
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# Twitch Info
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# OpenAPI Info
OPENAI_API_KEY=
