# Client Info
CLIENT_TOKEN=
CLIENT_ID=

# For guild command
AUTHOR_GUILD=

# Database Info (only MARIADB_ROOT_PASSWORD is not required)
DATABASE_HOST=
MARIADB_USER=
MARIADB_ROOT_PASSWORD=
MARIADB_DATABASE=

# Twitch Info
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# OpenAPI Info
OPENAI_API_KEY=
