# Node
node_modules
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Build output
dist
*.tsbuildinfo

# Prisma
prisma/dev.db
prisma/dev.db-journal
.prisma
src/.prisma

# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*.log

# Editor / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.swp
